@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
@import "node_modules/modern-normalize/modern-normalize.css";

:root {
    --brand-color: #2196f3;
    --title: #ffffff;
    --black: #212121;
    --backgroud-grey: #2f303a;
    --button-white: #f5f4fa;
    --grey: #757575;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--black);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header {
    border-bottom: solid;
    border-color: #ececec;
    border-width: 1px;
}
.container {
    width: 1200px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1600px;
    height: 80px;
    list-style: none;
    padding-top: 24px;
    padding-bottom: 25px;
}

.left-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 46px;
    list-style: none;
}
.right-nav {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    list-style: none;
    padding-left: 364px;
    margin: auto;
    align-items: baseline;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-shadow: 2px, 2px, 4px, #212121;
    color: var(--brand-color);
    color: var(--black);
}
.logo-web {
    color: var(--brand-color);
}

.links {
    color: var(--black);
    cursor: pointer;
    font-size: inherit;
    font-weight: 500;
    text-decoration: none;
    display: flex;
}
.links:active,
.links:hover {
    color: var(--brand-color);
}
.links-contact {
    color: var(--grey);
    font-size: 14px;
    font-size: inherit;
    font-weight: 500;
    justify-content: right;
}

.links .links-contact:active,
.links-contact:hover {
    color: var(--brand-color);
}

a {
    list-style-type: none;
    text-decoration: none;
}

.title {
    font-family: "Raleway", sans-serif;
    color: var(--title);
    background-color: var(--backgroud-grey);
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 1, 4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 1600px;
    margin: auto;
    height: 600px;
    padding-top: 200px;
}
.efektywne {
    font-family: "Roboto";
    font-weight: 900;
    font-size: 44px;
    line-height: 1.37;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
    width: 1200px;
    max-width: 696px;
    text-align: center;
    margin: 0 auto;
}

.main-button {
    color: var(--title);
    cursor: pointer;
    background-color: var(--brand-color);
    font-weight: 700;
    font-size: 16px;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
}
.lorem-ipsum-style {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
    gap: 30px;
    padding-top: 94px;
    padding-bottom: 94px;
}

.lorem-ipsum {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.lorem-ipsum-text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--grey);
    text-align: left;
    width: 270px;
    height: 75px;
    padding-bottom: 94px;
}
.lorem-ipsum-container {
    display: flex;
    width: 1200px;
    margin: auto;
    padding: 94px 215px;
    gap: 30px;
    list-style-type: none;
    justify-content: space-between;
    padding-top: 94px;
    padding-bottom: 94px;
}
.headings {
    font-size: 36px;
    text-align: center;
    font-weight: 700;
    padding-top: 94px;
    padding-bottom: 50px;
}

.index-images {
    display: flex;
    gap: 30px;
    list-style-type: none;
    list-style: none;
    justify-content: space-between;
    padding-bottom: 94px;
}

.john-doe-section {
    background-color: var(--button-white);
    max-width: 1600px;
    margin: auto;
}
.john-doe-style {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding-bottom: 94px;
    gap: 30px;
}
.john-doe-images {
    background-color: var(--title);
}
.john-doe {
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 10px;
}
.john-doe-job {
    font-weight: 400;
    font-style: normal;
    color: var(--grey);
    padding-bottom: 59, 99;
    height: 30px;
}

.john-doe-description {
    text-align: center;
    letter-spacing: 0.03em;
    box-shadow: 0px 0px 2px 0px;
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
    background-color: var(--title);
}

.portfolio-buttons {
    cursor: pointer;
    justify-content: center;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    background: var(--button-white);
    border-radius: 4px;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 6px 22px 6px 22px;
    border: var(--button-white);
    margin: auto;
}
.portfolio-buttons-style {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 8px;
    padding-top: 94px;
    padding-bottom: 34px;
}

.portfolio-buttons:hover {
    background: var(--brand-color);
    color: var(--button-white);
}
.portfolio-buttons:focus {
    background: var(--brand-color);
    color: var(--title);
}

.portfolio-img-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--black);
    letter-spacing: 0.06em;
    padding: 20px 24px 4px 24px;
}

.portfolio-images {
    list-style-type: none;
    margin: auto;
    gap: 30px;
    margin-bottom: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: #eeeeee;
    border-top: transparent;
}

.portfolio-image-description {
    color: var(--grey);
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    padding: 4px 24px 20px 24px;
    gap: 30px;
}

.portfolio-img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 94px;
}

.logo-web-footer {
    font-family: "Raleway", sans-serif;
    color: var(--title);
    font-weight: 700;
    font-size: 26px;
    background-color: var(--backgroud-grey);
    text-decoration: none;
}

.footer {
    font-style: normal;
    font-size: 14px;
    color: var(--title);
    line-height: 1.7;
    background-color: var(--backgroud-grey);
    height: 252px;
    padding-top: 60px;
}

.addres-box {
    font-style: normal;
    padding-top: 20px;
    padding-bottom: 9px;
    line-height: 1, 7;
}
.footer-contact {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.7;
    cursor: pointer;
}
.footer-contact:active,
.footer-contact:hover {
    color: var(--brand-color);
}
